.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-style: italic;
}
.AppHeader{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 7px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    background-color: #A0D2EB;
    border-color: #ff6015;
    
    
}
h1{
    font-size: 20px;
    margin-right: 70rem;
    background-color: #fff;
    color: #f3a9c3;
    text-transform: uppercase;
    background-image: linear-gradient(#fc210d,#f7ce38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.footer{
align-items: center;
margin-top: 140px;
border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    
    border-color: #ff6015;
   display: flex;
   position: relative;
}

.footer-container .h3{
    color: #fc210d;
}

.SideMenuAndPageContent{
    display: flex;
   
}
.SideMenuVertical .Dashbaord{
    background-color: #000000;

}
a {
    color: inherit;
}
.item1 {
    border: none;
    background-color: inherit;
    color: #6bd1f0;
    padding-left: 10px;
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.item1:hover {
    text-decoration: none;
    color: #48976a;
}
.item1:focus {
    outline: 0;
}
.item2 {
    background: rgba(49, 49, 54, 0.993);
    color: rgb(190, 190, 190);
    margin: 1px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 {
    font-size: 20px;
    background: #292a30;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item3:hover {
    background-color: #000000;
    transition: 0.4s;
}
.item4 {
    font-size: 20px;
    background: #25252b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item4:hover {
    background-color: #4267b2;
    transition: 0.4s;
}
.item5 {
    font-size: 20px;
    background: #202025;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item5:hover {
    background-color: #da0e0e;
    transition: 0.4s;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .item1 {
        font-size: 12px;
        padding-left: 3px;
    }
    .item2 {
        font-size: 7px;
    }
    .item3,
    .item4,
    .item5 {
        font-size: 12px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .item1 {
        font-size: 14px;
        padding-left: 5px;
    }
    .item2 {
        font-size: 9px;
    }
    .item3,
    .item4,
    .item5 {
        font-size: 14px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .item1 {
        font-size: 16px;
        padding-left: 6px;
    }
    .item2 {
        font-size: 11px;
    }
    .item3,
    .item4,
    .item5 {
        font-size: 16px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .item1 {
        font-size: 18px;
        padding-left: 8px;
    }
    .item2 {
        font-size: 13px;
    }
    .item3,
    .item4,
    .item5 {
        font-size: 18px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .item1 {
        font-size: 20px;
        /* padding-left: 10px; */
    }
    .item2 {
        font-size: 15px;
    }
    .item3,
    .item4,
    .item5 {
        font-size: 20px;
    }
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 30px;
    float: left;
    justify-content: center;
    text-align: center;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color:#ff6015 ;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    
  }
  
  form.create-note {
    position: relative;
    width: 580px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    margin-left: 330px;
    margin-top: 90px;
  }
  form.create-note input,
  form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background:#ff6015 ;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
   
  }
  .footer{
    background-color: rgba(49, 49, 54, 0.993);
    align-items: center;
    display: block;
    padding: 0 50px 0 50px;
    margin-top: 150px;
    margin-top: auto;
  }
  .footer-container {
    color: aliceblue;
    text-align: center;
    background-color: rgba(49, 49, 54, 0.993);
    font-size: 15px;
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-columns: 3fr 6fr 1fr 1fr 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    
    /* margin-top: 100px; */
    
}
App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.templateContainer{
    margin: 5% 0;
}
.templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer > .searchInput_Container input{
    width: 50%;
    padding: 10px;
    outline: none;
}
.templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.templateContainer .template_Container .template{
    background-color: white;
    margin: 30px;
    padding: 0px 20px;
}
.templateContainer .template_Container .template img{
    height: 250px;
}
.searchInput_Container{
border: #da0e0e;
}
#searchInput{
    border-bottom: 2px solid ;
    border-color:#ff6015 ;
}
